body {
    background: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.heading-primary {
  font-size:2em;
  text-align:center;
}
h1 {
    color:#fff;
}
.accordion {
    -webkit-box-shadow: 0px 0px 100px 30px rgba(56, 204, 112, 0.2);
    -moz-box-shadow: 0px 0px 100px 30px rgba(56, 204, 112, 0.2);
    box-shadow: 0px 0px 100px 30px rgba(56, 204, 112, 0.2);
}

.accordion h4,
.accordion h5 {
    margin: 0em 0em;
}
.accordion dl,
.accordion-list {
   border:1px solid #ddd;
}
.accordion dd,
.accordion__panel {
   background-color:#eee;
   font-size:1em;
   line-height:1em;
    margin-inline: 1em;
    background: #37cd70

}
.accordion p {
  padding:0em 2em 1em 2em;
}

.accordion {
    position:relative;
    background-color: #37cd70;
}
.container {
  max-width:960px;
  margin:0 auto;
  padding:2em 0 2em 0;
    background: #37cd70;
}
.accordionTitle,
.accordion__Heading {
 background-color:#30B362;
   text-align:center;
     font-weight:700;
          padding:2em;
          display:block;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#30B362, 5%);

}
.accordionTitleActive,
.accordionTitle.is-expanded {
   background-color:darken(#30B362, 10%);

}
.accordionItem {
    height: 100%;
    overflow:hidden;
    transition:max-height 1s;

}

.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=date] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #30B362;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #2a9954;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color:#141414ff;
}